<CONFIG>
	<AUDIOBUFFERSIZE value='512'/>
	<SCREENMULT value='2'/>
	<KEY_A value="key:0:a" />
	<KEY_B value="key:0:b" />
	<KEY_LEFT value="key:0:q" />
	<KEY_RIGHT value="key:0:d" />
	<KEY_DOWN value="key:0:s" />
	<KEY_UP value="key:0:w" />
	<KEY_LSHOULDER value="key:0:h" />
	<KEY_RSHOULDER value="key:0:l" />
	<KEY_START value="key:0:m" />
	<KEYDELAY value="200"/>
	<KEYREPEAT value="100" />
        <FONTTYPE value = '0' />    <!-- '0':original '1':digital '2':monster 'CUSTOM': load custom_font.xml-->
</CONFIG>
