<CONFIG>
	<DUMPEVENT value="YES"/>
	<SCREENMULT value="2"/> <!-- increase screen size -->
<!--
	<KEY_A value="key:0:x"/>
	<KEY_B value="key:0:z"/>
	<KEY_LSHOULDER value="key:0:a" />
	<KEY_RSHOULDER value="key:0:s" />

	<KEY_UP value="key:0:up" />
	<KEY_DOWN value="key:0:down" />
	<KEY_LEFT value="key:0:left" />
	<KEY_RIGHT value="key:0:right" />

	<KEY_START value="key:0:return" />
-->
<!-- Default colors below -->
    <BACKGROUND   value = "1D0A1F" />
    <FOREGROUND   value = "F5EBFF" /> <!-- Text and cursor in cursor -->
    <BORDER       value = "FF00DD" /> <!--Dialog Border-->
    <HICOLOR1     value = "B750D1" /> <!-- Highlight color 1 -->
    <HICOLOR2     value = "DB33DB" /> <!-- Highlight color 2 -->
    <SONGVIEW_FE  value = "A55B8F" /> <!-- Color of the chain "FE" in song screen-->
    <SONGVIEW_00  value = "853B6F" /> <!-- Color of the chain "00" in song screen-->
    <CURSORCOLOR  value = "FF00DD" /> <!--Cursor color-->
    <PLAYCOLOR    value = "FF00DD" /> <!--Cursor color-->
    <MUTECOLOR    value = "F5EBFF" /> <!-- Text and cursor in cursor -->
    <ROWCOLOR1    value = "BA28F9" /> <!--Row count color 1 -->
    <ROWCOLOR2    value = "FF00FF" /> <!--Row count color 2-->
    <ALTROWNUMBER value = "4"/>       <!--How many rows of each ROWCOLOR-->
    <FONTTYPE     value = '0' />      <!-- '0':original '1':digital '2':monster 'CUSTOM': load custom_font.xml-->

</CONFIG>
