<CONFIG>
	<DUMPEVENT value="YES"/>
	<SCREENMULT value="2"/> <!-- increase screen size -->

	<KEY_A value="a"/>
	<KEY_B value="s"/>
	<KEY_LSHOULDER value="x" />
	<KEY_RSHOULDER value="left shift" />

	<KEY_UP value="up" />
	<KEY_DOWN value="down" />
	<KEY_LEFT value="left" />
	<KEY_RIGHT value="right" />

	<KEY_START value="space" />

    <!-- Default colors below -->
    <BACKGROUND   value = "505444" />
    <FOREGROUND   value = "FFFFFF" /> <!-- Text and cursor in cursor -->
    <BORDER       value = "FF00DD" /> <!--Dialog Border-->
    <HICOLOR1     value = "F41B38" /> <!-- Highlight color 1 -->
    <HICOLOR2     value = "FF0000" /> <!-- Highlight color 2 -->
    <SONGVIEW_FE  value = "A55B8F" /> <!-- Color of the chain "FE" in song screen-->
    <SONGVIEW_00  value = "853B6F" /> <!-- Color of the chain "00" in song screen-->
    <CURSORCOLOR  value = "FF00DD" /> <!--Cursor color-->
    <PLAYCOLOR    value = "FF00DD" /> <!--Cursor color-->
    <MUTECOLOR    value = "FFFFFF" /> <!-- Text and cursor in cursor -->
    <ROWCOLOR1    value = "BA28F9" /> <!--Row count color 1 -->
    <ROWCOLOR2    value = "FF00FF" /> <!--Row count color 2-->
    <ALTROWNUMBER value = "4"/>       <!--How many rows of each ROWCOLOR-->
    <FONTTYPE     value = '0' />      <!-- '0':original '1':digital '2':monster 'CUSTOM': load custom_font.xml-->

</CONFIG>
