<!--
miyoo mini default config:
create folders for your tracks and samples on the
root of your sd card.
-->
<CONFIG>
    <ROOTFOLDER value="/mnt/SDCARD/Tracks"/>
    <SAMPLELIB value="/mnt/SDCARD/Samples"/>
    <!-- uncomment to dump events to stdout -->
    <!--
    <DUMPEVENT value="YES"/>
    -->
    <!-- uncomment to render -->
    <!--
    <RENDER value="FILE"/>
    -->
    <!-- Default colors below -->
    <!-- Default colors below -->
    <BACKGROUND   value = "1D0A1F" />
    <FOREGROUND   value = "F5EBFF" /> <!-- Text and cursor in cursor -->
    <BORDER       value = "FF00DD" /> <!--Dialog Border-->
    <HICOLOR1     value = "B750D1" /> <!-- Highlight color 1 -->
    <HICOLOR2     value = "DB33DB" /> <!-- Highlight color 2 -->
    <SONGVIEW_FE  value = "A55B8F" /> <!-- Color of the chain "FE" in song screen-->
    <SONGVIEW_00  value = "853B6F" /> <!-- Color of the chain "00" in song screen-->
    <CURSORCOLOR  value = "FF00DD" /> <!--Cursor color-->
    <PLAYCOLOR    value = "FF00DD" /> <!--Cursor color-->
    <MUTECOLOR    value = "F5EBFF" /> <!-- Text and cursor in cursor -->
    <ROWCOLOR1    value = "BA28F9" /> <!--Row count color 1 -->
    <ROWCOLOR2    value = "FF00FF" /> <!--Row count color 2-->
    <ALTROWNUMBER value = "4"/>       <!--How many rows of each ROWCOLOR-->
    <FONTTYPE     value = '0' />     <!-- '0':original '1':digital '2':monster 'CUSTOM': load custom_font.xml-->

</CONFIG>
