<!-- CONFIG-CHIP.xml-->
<CONFIG>
	<KEY_A value="key:0:backspace" />
	<KEY_B value="key:0:[-]" />
	<KEY_LEFT value="key:0:left" />
	<KEY_RIGHT value="key:0:right" />
	<KEY_UP value="key:0:up" />
	<KEY_DOWN value="key:0:down" />
	<KEY_LSHOULDER value="key:0:1" />
	<KEY_RSHOULDER value="key:0:9" />
	<KEY_START value="space" />
	
	<FULLSCREEN value='YES'/>
	<DUMPEVENT value='YES'/>
    <!-- use if you want to put your tracks somewhere special
            Must be absolute path
    <ROOTFOLDER value="/home/chip/lgpt/"/>
    -->
    <!-- Useful if you don't want to clone your samplelib
            Must be absolute path
    <SAMPLELIB value="/home/chip/lgpt/"/>
    -->
    <!-- Uncomment to render
    <RENDER value="FILE" />
    -->
<!-- Default colors below -->
    <BACKGROUND   value = "1D0A1F"/> <!--Background color-->
    <FOREGROUND   value = "F5EBFF"/> <!--Text color-->
    <HICOLOR1     value = "B750D1"/> <!--Highlight color 1-->
    <HICOLOR2     value = "DB33DB"/> <!--Highlight color 2-->
    <CURSORCOLOR  value = "FF00DD"/> <!--Cursor color-->
    <ROWCOLOR1    value = "BA28F9"/> <!--Row count color 1 -->
    <ROWCOLOR2    value = "FF00FF"/> <!--Row count color 2-->
    <ALTROWNUMBER value = "4"/>      <!--How many rows before alternating-->
    <FONTTYPE     value = '0' />     <!-- '0':original '1':digital '2':monster 'CUSTOM': load custom_font.xml-->
</CONFIG>
